@model Manage_Tasks.Models.RequestTime

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RequestTime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonWhoRequested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonWhoRequested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRequested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRequested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAccepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAccepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskConfig.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskConfig.TaskName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
