@model Manage_Tasks.Models.RequestTime

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<link type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RequestTime</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.PersonWhoRequested, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonWhoRequested, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.PersonWhoRequested, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateRequired, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateRequired, new { htmlAttributes = new { @class = "form-control", id = "dateRequired" } })
                @Html.ValidationMessageFor(model => model.DateRequired, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateRequested, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateRequested, new { htmlAttributes = new { @class = "form-control", id="dateRequested" } })
                @Html.ValidationMessageFor(model => model.DateRequested, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsAccepted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    <input type="checkbox" id="checki" />
                    <input type="hidden" id="checkedAcc" name="checkedAcc" value=""/>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaskID, "TaskID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TaskID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TaskID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>

    $('#dateRequired').datepicker({
        minDate: -2,
        required: true,
        onClose: function () { $(this).valid(); }
    });

    $('#dateRequested').datepicker({
        minDate: -2,
        required: true,
        onClose: function () { $(this).valid(); }
    });

    $("#checki").on("click", function () {
        if ($("#checki").prop('checked')) {
            $("#checkedAcc").val(true);
            var gett = $("#checkedAcc").val();
            console.log(gett);
        }
        else {
            $("#checkedAcc").val(false);
            var gett = $("#checkedAcc").val();
            console.log(gett);
        }
    });
</script>